body {
  font-family: sans-serif;
  padding: 20px;
}
#restaurants {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  border: 1px solid #ccc;
  padding: 15px;
  width: 100px;
}
.img{
  background-color: beige;
  width: 0x;
  height: 0px;
  padding: 10px;
}